:root {
  --save-button: #3f3f3f;
  --white-color: #ffffff;
  --black-color: #000000;
  --primary-color: #ff967c;
  --secondary-color: #fffbf1;
  --gray-color: #111111;
  --gray-color-light: #a1a1a1;
  --bridesmaid-color: #ffe5de;
  --dark-green: #555e58;
  --chinese-black: #111111;
  --dark-mint-color: #2bcd72;
  --dusty-grey: #9d9d9d;
  --wild-sand-grey: #f6f6f6;
  --gray-45-color: #737373;
  --suva-grey: #868686;
  --gray-grey-scorpion: #585858;
  --steel-color: #7a7a7a;
  --shadowed-steel: #4b4b4b;
  --gray79-color: #c9c9c9;
  --Very-Light-Grey: #cdcdcd;
  --whisper-color: #e7e7e7 !important;
  --white-smoke: #f7f7f7;
  --Sapphire-color: #091036;
  --red-light-color: #fffbf1;
  --light-black: #3f3f3f;
  --spanish-gray: #989898;
  --japnese-light-color: #8ccdd2;
  --Tangaroa-color: #051e33;
  --pale-red: #ffded6;
  --light-red: #ececec;
  --Gray31-color: #4f4f4f;
  --red-color: #df0e0e;
  --Gray85-color: #d9d9d9;
  --Banana-Mania-color: #fff2b1;
  --shadeof-green-color: #caffb1;
  --Screamin-Green-color: #fe8364;
  --grey82-color: #d1d1d1;
  --red-shade: #ffe0a4;
  --vivid-orange: #e7a11b;
  --green-color: #8bee4e;
  --Kelly-Green: #45b600;
  --gray72-color: #b8b8b8;
  --Night-Rider: #2f2f2f;
  --red-Dark--color: #ee4141;
  --Monochromatic-color: #7c7c7c;
  --bittersweet-color: #ff6262;
  --nobel-color: #9f9f9f;
  --Gainsboro: #dadada;
  --sweetmint-pesto: #25a006;
  --web-safe-color: #cb6464;
  --lightning-yellow: #f8a84b;
  --metallic-gray: #c0c0c0;
}
